<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Travelmart - c:</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/barrabuscador.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/barraNavegacion.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/footer.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/sliderBanner.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/colores.css'>

<script src="/js/sliderBanner.js" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/11c8a9e03b.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="BarraCabeza">
            <a class="contenedorImgLogo" href="/html/index.html">
                <img class="imgLogo" src="./img/logo.png">
            </a>
            <div class="ContenedorSearch">
                <div class="relative">
                    <input id="kit_icon_search_query" type="search" name="kit_icon_search_query" value=""
                        placeholder="Search..."
                        class="input-reset color-inherit input-focus all-animate br-pill ph4 pv3 sans-serif fw6 ba bw1 bg-gray1 b--gray1 w-100 h">
                    <button type="submit" name="kit_icon_search_submit" data-balloon="Search!" data-balloon-pos="left"
                        class="button-reset db absolute center-v right-1 gray6 hover-primary6">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            class="svg-inline--fa fa-search fa-w-16 fa-fw">
                            <path fill="currentColor"
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                                class="">

                            </path>
                        </svg>
                        <span class="sr-only">Search!</span>
                    </button>
                </div>
            </div>
            <div class="ContenedorUsuario">
                <i class="far fa-user fa-3x"></i>
                <div class="Contenedorlogin">
                    <button class="logIn">LOG IN</button>
                    <button class="logOut">LOG OUT</button>
                </div>
                <i class="fas fa-shopping-cart fa-3x"></i>
            </div>
        </div>
        <nav class="BarraNavegador">
            <nav class="BarraNavegador bckgN">
                <ul>
                    <li><a href="productos.html">PROMOCIONES</a></li>
                    <li><a href="productos.html">BARES</a></li>
                    <li><a href="productos.html">HAMBURGUESAS</a></li>
                    <li><a href="productos.html">PIZZAS</a></li>
                    <li><a href="productos.html">POLLOS</a></li>
                    <li><a href="productos.html">PASTAS</a></li>
                    <li><a href="productos.html">PARRILLAS</a></li>
                    <li><a href="productos.html">POSTRES</a></li>
                    <li><a href="productos.html">ASIATICAS</a></li>
                    <li><a href="productos.html">PERUANITOS</a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <div class="contenedorSlider">
        <div class="mySlide fade">
            <img src="./img/banner1.png" class="imgSlider">
        </div>
        <div class="mySlide fade">
            <img src="./img/banner2.png" class="imgSlider">
        </div>
        <div class="mySlide fade">
            <img src="./img/banner3.png" class="imgSlider">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <main>
        <div class="contenedorSecciones">
            <div class="contenedorSubTitulo bckgN">
                <h2 class="subTitulo">MEJORES CATEGORIAS</h2>
                <a href="#"> &#10095; ver más</a>
            </div>
            <div class="contenedorPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
            </div>
        </div>
        <div class="contenedorSecciones">
            <div class="contenedorSubTitulo bckgN">
                <h2 class="subTitulo">MEJORES CATEGORIAS</h2>
                <a href="#"> &#10095; ver más</a>
            </div>
            <div class="contenedorPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
            </div>
        </div>
        <div class="contenedorSecciones">
            <div class="contenedorSubTitulo bckgN">
                <h2 class="subTitulo">COMIDA INTERNACIONALE</h2>
                <a href="#"> &#10095; ver más</a>
            </div>
            <div class="contenedorPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
                <img src="./img/platoPrueba.png" alt="" class="imgPlato">
            </div>
        </div>
        
        
    </main>
    <footer>
        <div class="contenedorfooter bckgN">
            <div class="Barfooter">
                <ul>
                    <li><a href="productos.html">PROMOCIONES</a></li>
                    <li><a href="productos.html">BARES</a></li>
                    <li><a href="productos.html">HAMBURGUESAS</a></li>
                    <li><a href="productos.html">PIZZAS</a></li>
                    <li><a href="productos.html">POLLOS</a></li>
                    <li><a href="productos.html">PASTAS</a></li>
                    <li><a href="productos.html">PARRILLAS</a></li>
                    <li><a href="productos.html">POSTRES</a></li>
                    <li><a href="productos.html">ASIATICAS</a></li>
                    <li><a href="productos.html">PERUANITOS</a></li>
                </ul>
            </div>
        </div>
        <div class="contenidoRedes bckgN">
            <h3>NUESTRAS REDES</h3>
            <div class="contenidoLogosRedes">
                <img src="/html/img/imgLogoRedes/facebook.png" class="imgLogoRedes">
                <img src="/html/img/imgLogoRedes/instagram.png" class="imgLogoRedes">
                <img src="/html/img/imgLogoRedes/twitter.png" class="imgLogoRedes">
                <img src="/html/img/imgLogoRedes/whatsapp.png" class="imgLogoRedes">
                <img src="/html/img/imgLogoRedes/youtube.png" class="imgLogoRedes">
            </div>
        </div>
        <br>
        <div class="contenedorDerechos bckgY">
            <h3>© TRAVELMART  Inc. All rights reserved</h3>
        </div>
    </footer>
    <script src="/js/sliderBanner.js" crossorigin="anonymous"></script>
</body>
</html>